---
import { supabase } from '../lib/supabase';
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro"
import Button from '../components/Button.astro'

export const prerender = false;

const { data, error } = await supabase
	.from('events')
	.select('id,title,eventdate,imglink')
	.order('eventdate', { ascending: true });

if (error) {
	console.log(error);
	throw error;
}

const eventlist = data.map((t) => t);

const options = {
	year: 'numeric',
	month: 'numeric',
	day: 'numeric',
};
---
<BaseLayout title='Cirkular Lab: Begivenheder'>
    <section>
    <h1>Begivenheder</h1>
    <div class='buttonRow'>
        <Button text='Foredrag' link='#'></Button>
        <Button text='Workshops' link='#'></Button>
        <Button text='Caféer' link='#'></Button>
    </div>
        <div class='cardContainer'>

            {
                eventlist.map((event) => (
                    <Card eventTitle={event.title} eventImage={event.imglink} eventLink={event.id} eventDate=`${new Date(event.eventdate).toLocaleDateString(
                        'da-DA',
                        options
                    )}`>
                    
                    </Card>
                ))
            }
            </div>
    </section>
</BaseLayout>

<style>

    body {
        background: url('../images/events_section/bg.webp') 50% / cover no-repeat;
    }
    section {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: url('../images/events_section/bg.webp') 50% / cover no-repeat;
    }
    .cardContainer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        overflow-x: scroll;
        width: 100%;
        padding-top: 4rem;
        gap: 1rem;
        margin: auto;
    }
    h1 {
        text-align: center;
        font-size: 2.5rem;
        text-transform: uppercase;
        color: var(--white);
        padding-top: 2rem;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    }

    .buttonRow {
        display: none;
    }
    @media (min-width: 800px) {

        section {
            background: url('../images/events_section/bg.webp') 50% / cover no-repeat;

        }
       .cardContainer {
            width: 80%;
            margin: auto;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2rem;
            align-items: start;
            justify-content: start;
        }

        .buttonRow {
            display: flex;
            flex-direction: row;
            margin: auto;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            margin-bottom: 3rem;
        }
    }
</style>