---
import { supabase } from '../lib/supabase';
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro"

export const prerender = false;

const { data, error } = await supabase
	.from('events')
	.select('id,title,eventdate,imglink')
	.order('eventdate', { ascending: true });

if (error) {
	console.log(error);
	throw error;
}

const eventlist = data.map((t) => t);

const options = {
	year: 'numeric',
	month: 'numeric',
	day: 'numeric',
};
---
<BaseLayout title='Cirkular Lab: Begivenheder'>
    <h1>Begivenheder</h1>
    <section>
        {
			eventlist.map((event) => (
				<Card eventTitle={event.title} eventImage='/repair.png' eventLink={event.id} eventDate=`${new Date(event.eventdate).toLocaleDateString(
                            'da-DA',
							options
						)}`>
				
                </Card>
			))
		}
    </section>
</BaseLayout>

<style>
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    h1 {
        text-align: center;
    }
    @media (min-width: 800px) {
        section {
            width: 98vw;
            margin-left: 1vw;
            margin-right: 1vw;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2rem;
            align-items: start;
            justify-content: start;
        }
    }
</style>