---
import about from '../images/about/lab.webp';
import { Image } from 'astro:assets';
import Button from './Button.astro';
---

<section class='about' id='about'>
	<div class='textContainer'>
		<h1>Circular Lab</h1>
		<p>
			Circular Lab er et community lab med fokus på cirkulære
			forretningsmodeller, strategier og design. Circular Lab er for KEAs
			studerende, undervisere og medlemmer af samarbejdende institutioner.
			Circular Lab samarbejder på tværs af de andre labs på KEA.
		</p>
		<p>
			Circular Lab er et multifunktionelt rum, der indbyder til at
			udforske og undersøge nye cirkulære forretningsmodeller og hvordan
			vi designer cirkulære produkter. Gennem workshops, foredrag,
			community caféer og virksomhedsbesøg åbner vi op for mulighederne
			der følger med den cirkulære omstilling og hvordan man kan udforske
			dem igennem praksis og teori.
		</p>
		<Button text='Hvad er cirkularitet?' link='#circular'/>
	</div>
	<div class='imageContainer'>
		<Image src={about} alt='kvinde ser på materielprøver' />
	</div>
</section>

<style>
	.about {
		display: flex;
		padding-top: 1.5rem;
		max-width: 1200px;
		margin: auto;
		height: auto;
		flex-direction: column-reverse;
		align-items: flex-start;
		gap: 1rem;
		flex-shrink: 0;
		align-self: stretch;
		border-bottom: 1px solid #bdb8b8;
	}

	.textContainer {
		display: flex;
		flex-direction: column;
		text-wrap: pretty;
		hyphens: auto;
		justify-content: center;
		align-items: center;
		width: 90%;
		margin: auto;
	}

	.textContainer h1 {
		text-align: center;
		font-size: 3rem;
		text-transform: uppercase;
	}
	.textContainer p {
		text-align: justify;
		font-size: 1rem;
		line-height: 1.5rem;
		max-width: 60ch;
	}

	img {
		height: 250px;
		width: 100%;
		aspect-ratio: 221/279;
		object-fit: cover;
		align-self: stretch;
	}

	@media (min-width: 800px) {
		.about {
			flex-direction: row-reverse;
			justify-content: space-between;
			align-items: center;
			align-self: stretch;
		}

		.textContainer {
			width: 50%;
		}

		.imageContainer {
			width: 50%;
			height: 100%;
			justify-content: center;
			align-items: center;
		}
		img {
			object-fit: cover;
			align-self: stretch;
			width: 80%;
			height: 80%;
			padding: 10%;
		}
	}
</style>
