---

---

<section class='grid_1-1'>
	<div class='text_container'>
		<h2>Tag ansvar</h2>
		<p>
			Fremtidens design bygger på cirkulær økonomi – ikke på “tag, brug,
			smid ud”. Som designere skal vi tænke i løsninger, der kan
			repareres, genanvendes og opgraderes. Det handler om at skabe med
			ansvar – for mennesker, miljø og ressourcer.
		</p>
		<p>
			På KEA’s Circular Lab får du mulighed for at eksperimentere med
			materialer, metoder og idéer, der udfordrer den lineære model og
			baner vejen for en mere bæredygtig industri.
		</p>
		<p>
			Her handler det ikke kun om form og funktion, men om at gentænke,
			gentage og give videre – sammen.
		</p>
		<iframe
			class='video'
			src='https://www.youtube-nocookie.com/embed/NTVJCVGXP28?si=CLTYwD-UyedI7IcP'
			title='YouTube video player'
			allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
			referrerpolicy='strict-origin-when-cross-origin'
			allowfullscreen></iframe>
	</div>
</section>
<style>
	section {
		width: 100%;
		margin: auto;
		padding-bottom: 4rem;
		background: url('../images/hero/bg.webp') lightgray 50% / cover
			no-repeat;
		background-attachment: fixed;
	}
	h2 {
		text-align: center;
		text-transform: uppercase;
	}

	.video {
		width: 100%;
		aspect-ratio: 16/9;
		object-fit: cover;
		border: 1px solid var(--black);
		margin-top: 2rem;
	}

	.text_container {
		width: 90%;
		margin: auto;
		max-width: 60ch;
		padding: 0 2rem;
		background-color: var(--white);
		margin-top: 4rem;
		padding-bottom: 4rem;
		border: 3px solid var(--black);
	}
	p {
		text-align: justify;
		hyphens: auto;
		text-wrap: pretty;
		line-height: 150%;
	}

	@media (min-width: 800px) {
		section {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}
		.video {
			aspect-ratio: 16/9;
			height: 300px;
			width: auto;
			margin: auto;
			margin-top: 2rem;
		}
	}
</style>
