---

---

<section class='grid_1-1'>
	<div class='text_container'>
		<h2>Tag ansvar</h2>
		<p>
			Ved at omdefinere vores traditionelle “tag, brug, smid ud”-model til
			en tilgang, der prioriterer reparabilitet, opgradering og
			genanvendelse, tager vi aktivt ansvar for at reducere spild og
			minimere vores indvirkning på miljøet.
		</p>
		<p>
			Denne omstilling understøtter ikke blot en reduktion i CO₂-aftryk
			ved at mindske den energikrævende produktion af nye materialer, men
			skaber også betingelser for en mere ansvarlig forvaltning af
			naturressourcer, som er afgørende for at bevare dyre- og plantearter
			samt økosystemernes integritet.
		</p>
		<p>
			Gennem vidensdeling, praktisk anvendelse og tværfagligt samarbejde
			bidrager vi til en økonomisk model, der ikke blot reducerer affald
			og ressourceforbrug, men også skaber et fundament for en resilient
			og etisk orienteret industri, som tager hensyn til både klimaforhold
			og dyrevelfærd.
		</p>
		<iframe
			class='video'
			src='https://www.youtube-nocookie.com/embed/NTVJCVGXP28?si=CLTYwD-UyedI7IcP'
			title='YouTube video player'
			allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
			referrerpolicy='strict-origin-when-cross-origin'
			allowfullscreen></iframe>
	</div>
</section>
<style>
	section {
		width: 100%;
		margin: auto;
		padding-bottom: 4rem;
		border-top: 1px solid var(--lightgrey);
		border-bottom: 1px solid var(--lightgrey);
	}
	h2 {
		text-align: center;
		text-transform: uppercase;
	}

	.video {
		width: 100%;
		aspect-ratio: 16/9;
		object-fit: cover;
		margin-top: 2rem;
		border: none;
	}

	.text_container {
		width: 100%;
		margin: auto;
		background-color: var(--white);
		margin-top: 4rem;
		padding-bottom: 4rem;
	}
	p {
		hyphens: auto;
		text-wrap: pretty;
		line-height: 150%;
		max-width: 60ch;
		margin-left: 5%;
		margin-right: 5%;
	}

	@media (min-width: 800px) {
		section {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			background: url('../images/hero/bg.webp') lightgray 50% / cover
				no-repeat;
			background-attachment: fixed;
			border-top: unset;
			border-bottom: unset;
		}

		.text_container {
			width: 90%;
			padding: 0 2rem 2rem 2rem;
			max-width: 60ch;
		}

		p {
			margin-left: 0;
			margin-right: 0;
		}
		.video {
			aspect-ratio: 16/9;
			height: auto;
			width: 100%;
			margin: auto;
			margin-top: 2rem;
		}
	}
</style>
