---
import '../styles/color.css';
import '../styles/fonts.css';

const { eventTitle } = Astro.props;
const { eventImage } = Astro.props;
const { eventDate } = Astro.props;
const { eventLink } = Astro.props;
---

<a href=`/single?id=${eventLink}`>
	<div class='card' style=`background-image: url(${ eventImage })`>
		<h2>{eventTitle}</h2>
	</div>
	<h3>{eventDate}</h3>
</a>


<style>

	a {
		height: 450px;
		width: 300px;
		margin-bottom: 3rem;
		text-decoration: none;
	}
	.card {
		display: flex;
		flex-direction: column;
		height: 450px;
		width: 300px;
		background-size: cover;
		position: relative;
	}

	.card h2 {
		position: absolute;
		color: var(--white);
		z-index: 10;
		padding-top: 380px;
		padding-left: 1.5rem;
		text-transform: uppercase;
		place-self: start end;
		letter-spacing: 0.625rem;
		font-size: 1rem;
	}

	.card::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 1;
		z-index: 1;
		background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0) 50%,
			rgba(0, 0, 0, 0.673) 100%
		);
	}

	h3 {
		letter-spacing: 0.25rem;
		margin-left: auto;
		text-align: right;
		margin-bottom: 3rem;
		font-family: 'HelveticaRoman';
		color: var(--white);
	}

	@media (min-width: 800px) {

		a {
			height: 20rem;
			width: 15rem;

		}
		.card {
			height: 20rem;
			width: 15rem;
		}

		.card h2 {
			padding-top: 15rem;
			font-size: 1rem;
			letter-spacing: 0.2rem;
			line-height: 125%;
		}

		h3 {
			font-size: 1rem;
		}
	}
</style>
