---
import { Image } from 'astro:assets';
import map from '../images/map.png'
import profile from '../images/profile.png'
import instagram from '../images/instagram.png'
import linkedIn from '../images/linkedin.png'
---

<footer>
	<section class='footerTop'>
		<div class='contact'>
			<h3>Kontakt</h3>
			<div class='container'>
				<Image src={profile} alt='contact icon'></Image>
				<div>
					<p>Nikolaj S. H. Tost</p>
					<a href="mailto:nito@kea.dk">Nito@kea.dk</a>
					<a href="mailto:circular@kea.dk">Circular@kea.dk</a>
				</div>
			</div>
		</div>
		<div class='some'>
			<h3>Sociale Medier</h3>
			<div><Image src={instagram} alt='instagram icon'></Image><a href="http://instagram.com">Instagram</a></div>
			<div><Image src={linkedIn} alt='linked in icon'></Image><a href="http://linkedin.com">LinkedIn</a></div>
		</div>
		<Image src={map} alt='map image' id=map></Image>
	</section>
	<section class='footerBottom'>
		<p>Guldbergsgade 29N, Lokale A129. Mandag-fredag: 08:30 - 22:00</p>
	</section>
</footer>

<style>
	footer {
		height: 10rem;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: start;
		border-top: 1px solid var(--darkgrey);
		bottom: 0;
	}

	a {
		color: var(--black);
		text-decoration: none;
		font-family: "HelveticaRoman";
	}

	.footerTop {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		gap: 1rem;
		padding-top: 2rem;
		padding-bottom: 2rem;
		letter-spacing: 0.25rem;
	}

	.contact {
		display: flex;
		flex-direction: column;
		width: 75%;
		text-transform: uppercase;
		justify-self: center;
	}

	.some {
		display: flex;
		width: 80%;
		flex-direction: column;
		text-transform: uppercase;
		justify-self: center;
		align-items: center;
	}

	.some img {
		width: 2rem;
		height: auto;
		margin-right: 2rem;
		transform: translateY(0.5rem);
	}

	.some div {
		width: 60%;
	}
	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.container div {
		display: flex;
		flex-direction: column;
	}

	.container img {
		width: 25%;
		height: auto;
	}

	#map {
		width: 80%;
		height: auto;
		margin-top: 1rem;
	}

	.footerContent {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.footerBottom {
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: var(--orange);
		height: 25%;
	}

	h3 {
		font-family: 'HelveticaBold';
		text-align: center;
	}
	.footerBottom p {
		color: var(--black);
		font-family: DMMono;
		font-size: 0.65rem;
	}

	@media (min-width: 800px) {
		footer {
			height: 300px;
		}

        .footerTop {
            display: flex;
			flex-direction: row-reverse;
			width: 80%;
			margin: auto;
        }
		.footerBottom p {
			font-size: 1rem;
		}
	}
</style>