---
import { Image } from 'astro:assets';
import Logo from '../images/logo.png';
import Bookmark from '../images/bookmark.svg';
---

<header>
	<div class='menuIcon'>
		<div class='line'></div>
		<div class='line'></div>
		<div class='line'></div>
	</div>
	<Image src={Logo} alt='Logo' class='logo'/>
	<Image src={Bookmark} alt='My events icon' class='bookmarkIcon' />
</header>

<style>
	header {
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 7.5vh;
		width: 100vw;
		overflow-x: hidden;
		z-index: 1;
		background-color: var(--green);
	}

	.menuIcon {
		display: flex;
		flex-direction: column;
		gap: 3px;
		margin-left: 30px;
	}

	.line:nth-child(2) {
		width: 30px;
	}

	.line {
		background-color: var(--white);
		width: 40px;
		height: 1.5px;
		margin: 2.5px 0px 2.5px 0px;
	}

    .logo {
        width: 150px;
        height: auto;
    }

	.bookmarkIcon {
		width: 30px;
		height: 40px;
		margin-right: 30px;
	}
</style>
