---
import '../images/hero/hero.webp';
import Button from './Button.astro';
---

<section class='heroContainer'>
	<h1 class='hero'>Hvad kan du designe af det, andre har kasseret?</h1>
	<p class='heroText'>
		På vores værksted for designstuderende bliver restmaterialer til
		råmaterialer for nye idéer.
	</p>
	<Button text='Læs mere'></Button>
</section>

<style>
	.heroContainer {
		height: 500px;
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		flex-shrink: 0;
		background: url('../images/hero/hero.webp') lightgray 50% / cover
			no-repeat;
	}

	.hero {
		color: var(--white);
		padding: 1rem 0rem;
		width: 90%;
		text-align: center;
		font-family: 'HelveticaBold';
		font-size: 2rem;
		font-style: normal;
		line-height: 115%;
		text-transform: uppercase;
		background-color: var(--orange);
	}

	.heroText {
		color: var(--white);
		text-align: center;
		font-family: 'HelveticaRoman';
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-wrap: pretty;
		hyphens: auto;
		width: 90%;
	}

	@media (min-width: 800px) {
		.hero {
			font-size: 3rem;
			width: 80%;
		}

		.heroText {
			font-size: 2rem;
			width: 60%;
		}
	}
</style>
