---
import '../images/hero/hero.webp';
---

<section class='heroContainer'>
</section>

<style>
	.heroContainer {
		height: 70vh;
		width: 100vw;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(12, 1fr);
		background-image: url('../images/hero/hero.webp');
		background-size: auto;
		background-position: -70%;
	}
	@media (min-width: 800px) {
		.heroContainer {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: unset;
		}
	}
</style>
