---
import Image from 'astro/components/Image.astro';

import heroImage from '../images/hero.png';
---

<section class='heroContainer'></section>

<style>
	.heroContainer {
		height: 92.5vh;
		width: 100vw;
	}
</style>
