---
import '../images/hero/bg.webp';
import Button from './Button.astro';
---

<section class='heroContainer'>
	<h1 class='hero'>Hvad kan du få ud af det, andre har kasseret?</h1>
	<script
		src='https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs'
		type='module'></script>
	<dotlottie-player
		src='https://lottie.host/1d215529-c38e-4d1e-a82f-a285fc51d527/leYO2c2NkM.lottie'
		background='transparent'
		speed='1'
		style='width: 100px; height: 100px'
		loop
		autoplay></dotlottie-player>
	<p class='heroText'>
		Hos Circular Lab KEA, bliver restmaterialer til
		råmaterialer for nye idéer.
	</p>
	<Button text='Læs mere!' link='#about' />
</section>

<style>
	@media only screen and (max-device-width: 800px) {
		.heroContainer {
			background-attachment: scroll;
		}
	}

	.heroContainer {
		height: 500px;
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		padding-top: 2rem;
		padding-bottom: 2rem;
		align-items: center;
		flex-shrink: 0;
		background: url('../images/hero/bg.webp') lightgray 50% / cover
			no-repeat;
		background-attachment: fixed;
	}

	dotlottie-player {
		margin-top: -2rem;
	}
	.hero {
		color: var(--white);
		padding: 1rem 0rem;
		width: 90%;
		max-width: 80ch;
		text-align: center;
		font-family: 'HelveticaBold';
		font-size: 2rem;
		font-style: normal;
		line-height: 115%;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
	}

	.heroText {
		color: var(--white);
		text-align: center;
		font-family: 'HelveticaRoman';
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 400;
		line-height: 125%;
		text-wrap: pretty;
		width: 90%;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
	}

	@media (min-width: 800px) {
		.hero {
			font-size: 3rem;
			width: 80%;
		}

		.heroText {
			font-size: 2rem;
			width: 60%;
		}
	}
</style>
