---
import circle from '../images/vector.svg'
import { Image } from "astro:assets";
---

<section>
  <h1>Hvad er cirkulæritet?</h1>
  <div class="grid_1-1">
    <div class="textbox1 text">
      <p>
        Cirkulært tænkning handler om at ændre vores måde at bruge og genanvende
        ressourcer på, så vi kan mindske spild og bevare miljøet. I stedet for
        den traditionelle “tag, brug, smid ud” tankegang, fokuserer vi på at
        holde materialer og produkter i brug så længe som muligt. Dette kan
        betyde, at ting bliver designet til at blive repareret, opgraderet eller
        omdannet til noget nyt, når de ikke længere opfylder deres oprindelige
        funktion.
      </p>
      <p>
        En vigtig del af cirkulært tænkning er recycling, altså genanvendelse.
        Når vi sorterer og behandler brugte materialer, bliver de forvandlet til
        nye råvarer, som kan bruges til at lave nye produkter. Dette reducerer
        behovet for at udvinde nye ressourcer fra naturen og mindsker mængden af
        affald, vi producerer.
      </p>
    </div>
    <div class="img">
      <Image src={circle} alt="decoration" />
    </div>
    <div class="textbox2 text">
      <p>
        Derudover understøtter cirkulært tænkning en mere økonomisk fornuftig
        tilgang ved, at de penge, der ellers ville være brugt på at købe nye
        materialer, kan investeres i at forbedre eksisterende produkter.
      </p>
      <p>
        Ved at tænke cirkulært opfordres både studerende, undervisere og
        virksomhedsledere til at se efter løsninger, hvor design og strategi
        arbejder sammen for at skabe en fremtid, hvor affald bliver til en
        ressource. Denne tilgang er ikke kun god for miljøet, men lægger også
        fundamentet for en økonomi, hvor vi arbejder smartere og mere
        bæredygtigt – til gavn for både nutid og fremtid.
      </p>
    </div>
  </div>
</section>

<style>
  h1 {
    font-family: "HelveticaBold";
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 150%;
    text-align: justify;
    text-wrap: pretty;
    hyphens: auto;
  }
  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  section {
    width: 90%;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-top: 1px solid var(--lightgrey);
  }

  @media (min-width: 800px) {
    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .img {
      grid-row: 1 / span 2;
      grid-column: 2 / span 1;
    }
  }
</style>
