---
---
<section>
    <h3>“We believe our future needs to work together with nature not against it.”
        <br>
        <br>
        -Louise Nash
        <br>
        Founder Of Circularity</h3>
</section>

<style>
    section {
        display: flex;
        width: 90%;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 5%;
        margin-left: 5%;
        padding-bottom: 50px;
        border-bottom: 1px solid var(--lightgrey);
        justify-content: center;
        align-items: center;
    }

    section h3 {
        color: var(--orange);
        font-style: italic;
        font-family: "HelveticaRoman";
    }

    @media (min-width: 800px) {
        section {
            width: 100%;
            margin-right: 0;
            margin-left: 0;
            margin-top: 300px;
            padding-bottom: 300px;
        }
    }
</style>