---
---

<section>
	<div class='text_container'>
		<h3>
			“We believe our future needs to work together with nature not
			against it.”
			<br />
			<br />
			-Louise Nash
			<br />
			Founder Of Circularity
		</h3>
	</div>
</section>

<style>
	section {
		position: relative;
		display: flex;
		flex-direction: column;
		place-content: center;
		text-align: center;
		color: white;
		height: 12rem;
    margin-bottom: 4rem;
	}

	section:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: url('/index-02.webp') lightgray -86.033px -3.216px / 124.684%
			500.874% no-repeat;
    filter: sepia(40%);
	}

	.text_container {
		position: relative;
	}
	section h3 {
		color: var(--white);
		font-style: italic;
		font-family: 'HelveticaRoman';
	}
</style>
