---
import "../styles/color.css"
import "../styles/fonts.css"

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const title = Astro.props;
---

<!doctype html>
<html lang='da'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>{ title }</title>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<script src='../scripts/menu.js'></script>

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	img {
		width: 100%;
		height: auto;
		display: block;
	}

	body {
		width: 100vw;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}

	main {
		margin-top: 7.5vh;
		overflow-x: hidden;
	}
</style>
